[submodule "software/fpga-source"]
	path = software/fpga-source
	url = https://github.com/xtrx-sdr/fpga-source.git
	shallow = true
[submodule "software/LMS7002M-driver"]
	path = software/LMS7002M-driver
	url = https://github.com/JuliaComputing/LMS7002M-driver
	shallow = true
[submodule "software/limesuite"]
	path = software/limesuite
	url = https://github.com/enjoy-digital/LimeSuite.git
	shallow = true
[submodule "software/libusb"]
	path = software/libusb
	url = https://github.com/libusb/libusb
	shallow = true
